03-using-java-modules/src/main/mule/02-invoke-nonstatic-method.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<flow name="02-invoke-nonstatic-methodFlow" doc:id="12ddeaad-5bed-4535-a7ea-59eba90a177b" >
		<http:listener doc:name="Listener" doc:id="35873d26-80af-4ac0-af55-91ee1b6cece1" config-ref="HTTP_Listener_config" path="/companydetails"/>
		<java:new doc:name="New" doc:id="afeda78c-cbd0-41e0-8bb2-3fca887e7017" class="com.tcs.CompanyDetails" constructor="CompanyDetails()" target="stockPrice"/>
		<java:invoke method="stockMarketPrice(java.lang.String)" doc:name="Invoke" doc:id="d71e268e-0b0c-47ac-ae2a-2a0ada9be974" instance="#[vars.stockPrice]" class="com.tcs.CompanyDetails">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	companyName: attributes.queryParams.companyname as String
}]]]></java:args>
		</java:invoke>
	</flow>
</mule>
