batchprocessing/src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eedd839f-1b46-48f2-a917-1de1d9306ed3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="6b5825a5-db3b-442c-a28f-ecad47634855" >
		<file:connection workingDir="C:\Users\SANJIT\Documents\Input" />
	</file:config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="9076d9db-2d31-4c03-bc23-9d0b2e5db2c8" >
		<ftp:connection host="ftp.drivehq.com" username="Sanjit22" password="Sanjit@22" workingDir="/ My Documents"/>
	</ftp:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="391883b1-8b63-4f3a-85d0-2e46f81a08fc" >
		<email:smtp-connection host="smtp.gmail.com" port="587" user="sanjitkarmakar2013@gmail.com" password="sanjit800201" >
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="batchprocessingFlow" doc:id="5074a0bc-2600-487d-8f08-0407f553cb24" >
		<http:listener doc:name="Listener" doc:id="1ac2ca46-2dd7-4ed4-be0c-1f2ac844cb8c" config-ref="HTTP_Listener_config" path="/batchProcessing"/>
		<ftp:read doc:name="Read" doc:id="af7d6080-b9c9-4cea-98c3-60b51057db20" config-ref="FTP_Config" path=" \TechCrunchcontinentalUSA.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="c9d98c9d-28ab-43b0-8751-0ee323b7850d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map(data, index)->{
	permalink: data.permalink,
	company: data.company,
	numEmps: data.numEmps,
	catagory: data.category,
	city: data.city,
	state: data.state,
	fundedDate: data.fundedDate,
	raisedAmt: data.raisedAmt,
	raisedCurrency: data.raisedCurrency,
	round: data.round	
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessingBatch_Job" doc:id="cf0cb6ec-f0af-4f4a-8cfa-8583eefb784f" blockSize="90">
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="c9aa95d5-0ecb-42bc-bb72-f7dc4b422ea1" >
					<ee:transform doc:name="Transform Message" doc:id="b31ff5d2-b589-4019-9dda-5918689e3f04" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	permalink: payload.permalink,
	company: payload.company,
	numEmps: payload.numEmps,
	catagory: payload.catagory,
	city: payload.city,
	state: payload.state,
	fundedDate: payload.fundedDate,
	raisedAmt: payload.raisedAmt,
	raisedCurrency: payload.raisedCurrency,
	round: payload.round
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="Batch_Step" doc:id="8ce3a847-5fdb-4f98-a578-5e39c5d4bb85" acceptExpression='#[payload.city =="San Francisco"]'>
					<ee:transform doc:name="Transform Message" doc:id="596b61d5-75eb-4719-9c0e-b2d24899d776" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	permalink: payload.permalink,
	company: payload.company,
	numEmps: payload.numEmps,
	catagory: payload.catagory,
	city: payload.city,
	state: payload.state,
	fundedDate: payload.fundedDate,
	raisedAmt: payload.raisedAmt,
	raisedCurrency: payload.raisedCurrency,
	round: payload.round
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="3dc28a87-c45e-45af-8337-2853733f8a59" streaming="true">
						<ee:transform doc:name="Transform Message" doc:id="a62408af-5b92-4859-b7f3-e340adc3c2e4">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload map ( payload01 , indexOfPayload01 ) -> {
	permalink: payload01.permalink,
	company: payload01.company,
	numEmps: payload01.numEmps,
	category: payload01.catagory,
	city: payload01.city,
	state: payload01.state,
	fundedDate: payload01.fundedDate,
	raisedAmt: payload01.raisedAmt,
	raisedCurrency: payload01.raisedCurrency,
	round: payload01.round
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ftp:write doc:name="Write" doc:id="cef01b58-1092-4b1d-8b5e-bc32af4a2465" config-ref="FTP_Config" path="#['DetailsOfSanFranciscoCity.csv']" />
						<ee:transform doc:name="Transform Message" doc:id="2a6d717d-be35-4c4c-bd8e-5986a380827d" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	{
	permalink: payload.permalink,
	company: payload.company,
	numEmps: payload.numEmps,
	catagory: payload.category,
	city: payload.city,
	state: payload.state,
	fundedDate: payload.fundedDate,
	raisedAmt: payload.raisedAmt,
	raisedCurrency: payload.raisedCurrency,
	round: payload.round
}
]]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="#[payload]" doc:name="Set Variable" doc:id="f01bd4ff-91a2-422b-b2f6-d1d68999caaf" variableName="detailsVar"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step2" doc:id="a1cd9f10-4d47-495b-ba0d-4f623c841ba6" acceptExpression='#[payload.city !="San Francisco"]'>
					<ee:transform doc:name="Transform Message" doc:id="4db258fe-a63e-43cb-801e-37ecae724e35" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	permalink: payload.permalink,
	company: payload.company,
	numEmps: payload.numEmps,
	catagory: payload.catagory,
	city: payload.city,
	state: payload.state,
	fundedDate: payload.fundedDate,
	raisedAmt: payload.raisedAmt,
	raisedCurrency: payload.raisedCurrency,
	round: payload.round
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d5b7b6d8-4d54-4b16-8d7a-9357ae008187" streaming="true">
						<ee:transform doc:name="Transform Message" doc:id="91d5a592-942e-4b77-a875-07f1285ae72f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
payload map ( payload01 , indexOfPayload01 ) -> {
	permalink: payload01.permalink,
	company: payload01.company,
	numEmps: payload01.numEmps,
	category: payload01.catagory,
	city: payload01.city,
	state: payload01.state,
	fundedDate: payload01.fundedDate,
	raisedAmt: payload01.raisedAmt,
	raisedCurrency: payload01.raisedCurrency,
	round: payload01.round
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<ftp:write doc:name="Write" doc:id="65c380a8-1619-4e79-be4e-366ba68dde94" config-ref="FTP_Config" path="#['DetailsOfOtherCity.csv']"/>
						<email:send doc:name="Send" doc:id="55234031-e199-4bc4-8b03-7c8d2cc2309d" config-ref="Email_SMTP" fromAddress="sanjitkarmakar2013@gmail.com" subject="Details of other city">
							<email:to-addresses >
								<email:to-address value="sanjitkarmakar94@gmail.com" />
							</email:to-addresses>
							<email:body contentType="text/plain" >
								<email:content ><![CDATA[Please find the attachment...!!]]></email:content>
							</email:body>
							<email:attachments > #[{
          'csv-attachment.csv' : payload
        }]</email:attachments>
						</email:send>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="dddbe44e-11c4-4727-be75-d65e5e312f9a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
